<br />
  <div>
  <h1>Students List</h1>
  <button class="mat-raised-button" color="primary" routerLink="../new_student">Add new Student</button>
 </div>
 <div *ngIf="students$ | async as students; else loading">
  <br />
  <div *ngFor="let student of students">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Name: {{student.firstName}} {{student.lastName}}</mat-card-title>
        <mat-card-subtitle>Grade: {{student.grade}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button [routerLink]="['/student', getStudentIndexById(student.id)]">EDIT</button>
        <button mat-button (click)='deleteStudent(student.id)'>DELETE</button>
      </mat-card-actions>
    </mat-card>
    <br />
  </div>
</div>
<ng-template #loading>Waiting for students...</ng-template>
